# 追加到 Quantumult X 的 [rewrite_local] 段落。
# penlight-credentials.js 需保存到 Quantumult X 的 Scripts 文件夹。
^https:\/\/api\.garupa\.jp\/api\/user\/[0-9]+(?:[\/?]|$) url script-request-header penlight-credentials.js
